{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        body {
            background-color: #FCF8F1;
            background-image: url("{% static 'home/background_rainbow.png' %}");
        }

        body.dark-mode {
            background-color: #121212;
            color: #E0E0E0;
            background-image: url("{% static 'home/dark_background_rainbow.png' %}");
        }

        .note1 {
            animation: popIn 1250ms ease-in-out forwards;
            animation-iteration-count: infinite;
        }

        @keyframes popIn {
            0% {
                transform: translateY(0);
            }
            33% {
                transform: translateY(-40px);
            }

            66% {
                transform: translateY(-40px);
            }
            100 % {
                transform: translateY(40px);
            }
        }

        .note2 {
            animation: popIn 1250ms ease-in-out 625ms forwards infinite;
        }

    </style>

    <div class="note-icons">
        <div class="note1">♪</div>
        <div class="note2">♫</div>
    </div>

    <div class="record-player">
        <img src="{% static 'home/record_player.png' %}" alt="Record Player">
    </div>

    <div class="button-wrapper">
        <a href="{% url 'transition_one' %}" class="view-unwrapped">
            {% if language == "english" %}
                VIEW UNWRAPPED
            {% elif language == "hindi" %}
                देखें UNWRAPPED
            {% elif language == "mandarin" %}
                查看 UNWRAPPED
            {% endif %}
         </a>
    </div>
</div>
{% endblock %}