{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        body {
            background-color: #FCF8F1;
            background-image: url("{% static 'home/background_rainbow.png' %}");
        }

        body.dark-mode {
            background-color: #121212;
            color: #E0E0E0;
            background-image: url("{% static 'home/dark_background_rainbow.png' %}");
        }

    </style>

    <div class="note-icons">
        <div class="note1">♪</div>
        <div class="note2">♫</div>
    </div>

    <div class="record-player">
        <img src="{% static 'home/record_player.png' %}" alt="Record Player">
    </div>

    <div class="button-wrapper">
        <a href="{% url 'top_artist' %}" class="view-unwrapped">VIEW UNWRAPPED</a>
    </div>
</div>
{% endblock %}