{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page - Unwrapped</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link rel="stylesheet" href="{% static 'messages.css' %}">
</head>
<body>
    <div class="container">
        <div class="rainbow-corner top-right"></div>
        <div class="rainbow-corner bottom-left"></div>
        <div class="header">UNWRAPPED</div>
        {% if form.errors%}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ errors|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% elif messages %} <!-- Intentionally not showing messages if there are errors to avoid screen clutter -->
            <div class="alert alert-success mt-3"> <!-- If we want info messages, we should use alert-info -->
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h1>REGISTER!</h1>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <!-- Vinyl record button -->
            <div class="vinyl-record" onclick="document.forms[0].submit();">
                <div class="record-base"></div>
                <div class="record-grooves"></div>
                <div class="record-label">JOIN</div>
            </div>
        </form>
    </div>
</body>
</html>
