<!DOCTYPE html>
<html>
  <head>
    <title>
        {% if language == "english" %}
            Song Player
        {% elif language == "hindi" %}
            गाना प्लेयर
        {% elif language == "mandarin" %}
            音乐播放器
        {% endif %}
    </title>
  </head>
  <body>
    <h1>
        {% if language == "english" %}
            Song Player
        {% elif language == "hindi" %}
            गाना प्लेयर
        {% elif language == "mandarin" %}
            音乐播放器
        {% endif %}
    </h1>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
        const token = {{ accessToken }};
        const player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });
        player.addListener('initialization_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('authentication_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('account_error', ({ message }) => {
            console.error(message);
        });
        player.connect();
        <button id="togglePlay">Toggle Play</button>
        document.getElementById('togglePlay').onclick = function() {
            player.togglePlay();
        };
    </script>
  </body>
</html>